@{
    Layout = null;
}
@model List<Gemstar.BSPMS.HotelScanOrder.Common.Pos.Tab.TabResultModel>
<div class="tab_div show" id="quereAll">
    <ul class="tabc_ul ">
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <li data-staus="@item.TabStatus" class="tabc_li" onclick="isLockTab('@item.TabId','@item.TabNo','@item.BillNo','@item.TabStatus','@item.TabName','@item.RefeId')">
                        <a href="javascript:void(0);" >
                            <span>@item.TabNo</span>
                            <span>@item.TabName</span>
                        </a>
                    </li>
                }
            }

        }

    </ul>
</div>
