@model Gemstar.BSPMS.HotelScanOrder.Common.Pos.Report.ReportSellDetailListPostModel

@{
    ViewBag.Title = "销售明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request["As_StartDate"] != null)
    {
        Model.As_StartDate = Request["As_StartDate"];
        Model.As_EndDate = Request["As_StartDate"];
    }

    if (Request["As_DeptClassNo"] != null)
    {
        Model.As_DeptClassNo = Request["As_DeptClassNo"];
    }
}


@section Css{
    <link href="~/Content/queue.css" rel="stylesheet" />
    <script src="~/Scripts/queue.js"></script>
    <script type="application/javascript" src="~/Scripts/fastclick.js"></script>
    <link href="~/Content/Report.css?rnd=@(new Random().Next(1, 222222))" rel="stylesheet" />
}
@*查询模块*@

<div class="query_div">
    <ul>
        <li>
            @Html.DropDownListFor(a => a.As_FindType, new List<SelectListItem> { new SelectListItem { Text = "按发生营业日", Value = "1", Selected = true }, new SelectListItem { Text = "按买单营业日", Value = "2" } })
        </li>
        <li><input type="date" id="As_StartDate" name="As_StartDate" value="@Model.As_StartDate" /></li>
    </ul>
</div>
@*<div class="reportTitle_div">

    </div>*@
<ul class="mui-table-view">
    <li class="mui-table-view-cell">
        <div>
            <div class="tabno">
                消费项目
            </div>
            <div class="notabno">
                数量
            </div>
            <div class="notabno">
                单价
            </div>
            <div class="notabno">
                金额
            </div>
        </div>
    </li>
    @*{
            foreach (var l in list)
            {
                <li class="mui-table-view-cell">
                    <div>
                        <div class="tabno">
                            @l.DeptClassName
                        </div>
                        <div class="notabno">
                            @l.SellAmount
                        </div>
                        <div class="notabno">
                            @l.Seqid
                        </div>
                    </div>
                </li>
            }
        }*@
</ul>
@section Scripts{
    <script>

        var url = "@Url.Action("GetSellDetailList", "Report")";

        var SellDetailList = {
            GetSellDetailList: function (model) {
                var parms = {
                    url: url,
                    type: 'post',
                    dataType: "json",
                    data: model
                };

                JQajaxPromiseForLayer(parms).then(function (data) {
                    if (data.length > 0) {
                    var deptLi = "";
                    var payModeLi = "";
                    $.each(data, function (index, value) {
                            deptLi += `<li class="mui-table-view-cell">
                                    <div>
                                        <div class="tabno">
                                            `+ value.DishName + `
                                        </div>
                                        <div class="notabno">
                                             `+ value.Quantity + `
                                        </div>
                                        <div class="notabno">
                                            `+ value.Price + `
                                        </div>
                                        <div class="notabno">
                                            `+ value.Amount + `
                                        </div>
                                    </div>
                                </li>`;
                    })
                        $(".mui-table-view").children(":not(:first)").remove();
                        $(".mui-table-view").append(deptLi);
                    }
                    else { mui.toast('暂未查询到数据'); }
                })
                .catch(function (error) {
                    // layer.msg(error, 1);
                })
            }
        }

        $(function () {

           var model = {
                Hid: "@Model.Hid",
                Module: "@Model.Module",
                As_FindType: $("#As_FindType").val(),
                As_StartDate: $("#As_StartDate").val(),
                As_EndDate: $("#As_StartDate").val(),
                Refeid: "",
                As_DeptClassNo:"@Model.As_DeptClassNo"
            }

            SellDetailList.GetSellDetailList(model);

            $("#As_FindType,#As_StartDate").change(function () {
                var model = {
                Hid: "@Model.Hid",
                Module: "@Model.Module",
                As_FindType: $("#As_FindType").val(),
                As_StartDate: $("#As_StartDate").val(),
                As_EndDate: $("#As_StartDate").val(),
                Refeid: "",
                As_DeptClassNo:"@Model.As_DeptClassNo"
            }

                SellDetailList.GetSellDetailList(model);
            })
        })
    </script>
}