<link rel="stylesheet" href="../../Content/ScanOrder/pos.css">
@{
    Layout = null;

}
@model List<Gemstar.BSPMS.HotelScanOrder.Web.Models.OrderListModel>

@using Gemstar.BSPMS.HotelScanOrder.Common.PosEnum
<div class="pos-tableHeader">
    <div class="pos-serial"></div>
    <div class="pos-name">菜名</div>
    <div class="pos-unit">单位</div>
    <div class="pos-num">数量</div>
    <div class="pos-price">单价</div>
</div>
<ul class="pos-tableList">
    @{
        var index = 1;
        foreach (var item in Model)
        {
            <li data-id="@item.BillDetail.ItemId" data-status="@item.BillDetail.Tagcharge" data-isModify="0" data-rowId="@item.BillDetail.RowId" data-itemName="@item.BillDetail.ItemName">

                <div class="pos-item" data-tagcharge="@item.BillDetail.Tagcharge">
                    <div class="pos-serial">@index</div>
                    <div class="pos-name">@item.BillDetail.ItemName</div>
                    <div class="pos-unit">@item.BillDetail.UnitName</div>
                    <div class="pos-num">@string.Format("{0:F}", item.BillDetail.Quan)</div>
                    <div class="pos-price ">@string.Format("{0:F}", item.BillDetail.Price)</div>
                </div>
                <div class="pos-details">
                    <div class="flex number">
                        <div class="title1">数量</div>
                        <div class="number-operation">
                            <div class="minus" onclick="_orderMinus($(this))" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge"></div>
                            <span>@string.Format("{0:F}", item.BillDetail.Quan)</span>
                            <div class="add" onclick="_orderAdd($(this))" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge"></div>
                        </div>

                    </div>
                    <div class="unit-flex">
                        <div class="title1">单位</div>
                        <div class="list" style="margin-left:.02rem">
                            @{
                                if (item.UnitList.Count == 1)
                                {
                                    <a class="mui-btn spec-active" data-price="@item.UnitList[0].Price" data-name="@item.UnitList[0].UnitName" data-id="@item.UnitList[0].UnitId" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge">@item.UnitList[0].UnitName</a>
                                }
                                else
                                {
                                    foreach (var unit in item.UnitList)
                                    {
                                        if (item.BillDetail.UnitId == unit.UnitId)
                                        {
                                            <a class="mui-btn spec-active" onclick="_orderSelectUnit($(this))" data-price="@unit.Price" data-name="@unit.UnitName" data-id="@unit.UnitId" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge">@unit.UnitName</a>
                                        }
                                        else
                                        {
                                            <a class="mui-btn " onclick="_orderSelectUnit($(this))" data-price="@unit.Price" data-name="@unit.UnitName" data-id="@unit.UnitId" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge">@unit.UnitName</a>
                                        }
                                    }
                                }

                            }

                        </div>
                    </div>
                    @{
                        if (item.BillDetail.IsAutoaction == "False")
                        {
                            if (!string.IsNullOrEmpty(item.BillDetail.ActioName))
                            {
                                <div class="unit-flex">
                                    <div class="title1">做法</div>
                                    <div class="list" style="margin-left:.02rem">
                                        @foreach (var actionGroup in item.BillDetail.ActioName.Split('/'))
                                        {
                                            foreach (var action in actionGroup.Split(','))
                                            {
                                                <a class="mui-btn" onclick="_orderCancelAction($(this))" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge">@action</a>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (item.ActionList != null && item.ActionList.Count > 0)
                            {
                                <div class="unit-flex">
                                    <div class="title1">做法</div>
                                    <div class="list" style="margin-left:.02rem">
                                        @foreach (var action in item.ActionList)
                                        {
                                            <a class="mui-btn " onclick="_orderSelectAction($(this))" data-itemId="@item.BillDetail.ItemId" data-tagcharge="@item.BillDetail.Tagcharge" data-id="@action.ActionId" data-name="@action.ActionName">@action.ActionName</a>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    }
                    @{
                        if (item.ActionList != null && item.ActionList.Count > 0)
                        {
                            <div class="unit-flex">
                                <div class="title1">已点作法</div>
                                <div class="list" style="margin-left:.02rem">
                                    @{
                                        foreach (var action in item.ActionGroupList)
                                        {

                                            <a class="mui-btn " data-id="@action.groupid" data-ids="@action.ActionIds" data-names="@action.ActionNames" onclick="_orderSelectActionGroup($(this))">@action.ActionNames</a>


                                        }
                                    }
                                    <a id="@("addactionGrp_"+item.BillDetail.ItemId.Trim()+"_"+item.BillDetail.RowId)" class="mui-btn spec-active" onclick="_orderSelectActionGroup($(this))" data-id="" data-ids="" data-names="">+</a>
                                    @{
                                        if (item.BillDetail.Tagcharge != (int)PosbillDetailStatus.保存)
                                        {
                                            <input type="hidden" value="@item.ActionListStr" id="@("input_"+item.BillDetail.ItemId.Trim()+"_"+item.BillDetail.RowId)" />
                                        }
                                    }

                                </div>
                            </div>}


                    }

                    @*<div class="unit-flex">
                        <div class="title1">要求</div>
                        <div class="list" style="margin-left:.02rem">
                            @{
                                var requestArr = item.BillDetail.Request ?? "";
                                foreach (var request in item.RequestList)
                                {
                                    if (requestArr.Contains(request.Name))
                                    {
                                        <a class="mui-btn spec-active" onclick="_orderRequest($(this))" data-itemId="@item.BillDetail.ItemId" data-id="@request.RequestId" data-names="@request.Name" data-tagcharge="@item.BillDetail.Tagcharge">@request.Name</a>
                                    }
                                    else
                                    {
                                        <a class="mui-btn " onclick="_orderRequest($(this))" data-itemId="@item.BillDetail.ItemId" data-id="@request.RequestId" data-names="@request.Name" data-tagcharge="@item.BillDetail.Tagcharge">@request.Name</a>
                                    }
                                }
                            }
                        </div>
                    </div>*@
                    <div class="buy">
                        @*<div class="send-btn" onclick="ZengSong($(this))">赠送</div>*@
                        <div class="cancel-btn" onclick="CancelItem($(this))">取消</div>
                        @*<div class="high-btn">高级</div>
                            <div class="buy-btn">落单</div>*@
                    </div>
                </div>
            </li>

            index++;
        }
    }

</ul>

<div class="footer-box">
    <div class="pos-footer">
        <div class="footer-left">
            <em class="footer-num">数量：3</em>
            <div class="footer-price">
                <span>合计：</span>
                <p>￥</p>
            </div>
        </div>
        <div class="footer-right">
            @{
                if (ViewBag.WxPaytype == "1") //点菜支付
                {
                    <a class="footer-pay" onclick="PayMethod()">买单</a>
                }
                else
                {
                    <a class="footer-buy" onclick="beAlone()">落单</a>
                    @*<a class="footer-pay" onclick="PayMethod()">买单</a>*@
                }
            }

        </div>
        <input type="hidden" value="@ViewBag.TotAmount" id="totalAmount" />
    </div>
</div>





